html {
	background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
	padding: 0px;
	margin: 0px;
}

body {
	margin: 1ex;
	padding: 0px;
	color: #fff;
    margin: auto;
    text-align: center;
}

#splash {
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
	height: 100%;
}

#session_list {
	list-style-type: none;
	padding: 0px;
}

.session_widget {
	padding: 0.1in;
	margin: 0.2in;
	display: inline-block;
	min-width: 1in;
	min-height: 1in;
	vertical-align: top;
}
.cursor_on {
	border: 3px solid #fff;
}

.session_widget_available {
	background: url('./state-available.svg') center center no-repeat;
	background-size: 100% 100%;
}
.session_widget_available .session_widget_time {
	visibility: hidden;
}
.session_widget_running {
	background: url('./state-running.svg') center center no-repeat;
	background-size: 100% 100%;
}
.session_widget_paused {
	background: url('./state-paused.svg') center center no-repeat;
	background-size: 100% 100%;
}
.session_widget_unavailable {
	background: url('./state-unavailable.svg') center center no-repeat;
	background-size: 100% 100%;
}
.session_widget_unavailable .session_widget_name {
	color: #333;
}
.session_widget_unavailable .session_widget_time {
	display: none;
}
.session_widget_name,
.session_widget_time {
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-top: 0.5ex;
	margin-bottom: 0ex;
}

.credit_widget {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 2em;
	font-weight: bold;
	font-size: x-large;
	color: #ff5;
	text-shadow: 3px 3px #000;
}
.credit_blink_off {
	visibility: hidden;
}